/* Reset default margin and padding for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Set font family to a more neutral value */
body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
    min-width: 320px;
    min-height: 100vh;
}

/* Reset headings and text styles */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

/* Reset list styles */
ul, ol {
    list-style: none;
}

/* Remove underlines from links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove table spacing */
table {
    border-collapse: collapse;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Button reset */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Form reset */
input, textarea, select, button {
    font: inherit;
    border: none;
    /* outline: none; */
    padding: 0;
    margin: 0;
}

/* Reset focus outline for accessibility */
:focus {
  outline: 2px solid #4D90FE;
  outline-offset: 2px;
}
